@font-face {
    font-family: "iconfont";
    /* Project id 3279216 */
    src: url('iconfont.woff2?t=1648270775194') format('woff2'), url('iconfont.woff?t=1648270775194') format('woff'), url('iconfont.ttf?t=1648270775194') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
    content: "\e600";
}