body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  background-color: #F2F4F7;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}
a {
  text-decoration: none;
}
.wrap {
  overflow: hidden;
  background-color: #fff;
}
.header {
  height: 1.173333rem;
  border-bottom: 0.013333rem solid #EAEAEA;
  text-align: center;
  line-height: 1.173333rem;
  font-size: 0.466667rem;
  color: #1C1C1C;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0.6rem 0 0.8rem 0;
}
.nav .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 33.33%;
}
.nav .item img {
  width: 1.853333rem;
  height: 1.853333rem;
}
.nav .item span {
  font-size: 0.333333rem;
  color: #707070;
}
.nav .item:nth-child(-n+3) {
  padding-bottom: 0.826667rem;
}
.go {
  width: 9.626667rem;
  height: 2.026667rem;
  margin: 0 0.24rem 0.573333rem 0.24rem;
}
.go img {
  width: 100%;
}
.content {
  padding: 0.533333rem 0.293333rem;
  background-color: #fff;
  margin-top: 0.133333rem;
}
.content .con-hd {
  display: flex;
  justify-content: space-between;
  height: 0.506667rem;
  line-height: 0.506667rem;
  margin-bottom: 0.453333rem;
}
.content .con-hd h4 {
  margin: 0;
  font-size: 0.373333rem;
  color: #333;
}
.content .con-hd h4 img {
  width: 0.506667rem;
  height: 0.506667rem;
  vertical-align: middle;
}
.content .con-hd .more {
  font-size: 0.293333rem;
  color: #999;
}
.pic_focus {
  position: relative;
}
.pic_focus .swiper-container {
  height: 100%;
  width: 7.2rem;
}
.pic_focus .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.4;
}
.pic_focus .swiper-slide a {
  width: 4.506667rem;
  height: 5.013333rem;
}
.pic_focus .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.pic_focus .swiper-slide p {
  width: 4.506667rem;
  font-size: 0.333333rem;
  color: #333;
  margin-top: 0.32rem;
}
.pic_focus .swiper-slide-active,
.pic_focus .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 999;
  opacity: 1;
}
.pic_focus .swiper-button-next,
.pic_focus .swiper-button-prev {
  width: 0.306667rem;
  height: 0.573333rem;
}
.pic_focus .swiper-button-next::after,
.pic_focus .swiper-button-prev::after,
.pic_focus .swiper-button-next::after,
.pic_focus .swiper-button-prev::after {
  font-size: 100%;
  font-weight: 700;
}
.study_con {
  padding-bottom: 2rem;
}
.study .study_fo {
  padding: 0.133333rem;
}
.study .swiper-container {
  width: 100%;
  height: 100%;
}
.study .swiper-slide {
  font-size: 18px;
  background: #fff;
  width: 3.626667rem;
  height: 4.533333rem;
  border-radius: 0.133333rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.study .swiper-slide img {
  width: 100%;
  height: 2.28rem;
}
.study .swiper-slide h5 {
  font-size: 0.346667rem;
  margin: 0.266667rem 0;
  padding: 0 0.133333rem;
  font-weight: 400;
}
.study .swiper-slide p {
  font-size: 0.32rem;
  padding: 0 0.133333rem;
}
.study .swiper-slide p span {
  font-size: 0.346667rem;
  color: #FF4400;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.466667rem;
  background-color: #fff;
  z-index: 99999;
  padding-top: 0.266667rem;
  border-top: 0.013333rem solid #ccc;
  display: flex;
}
.footer .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.footer .item img {
  width: 0.52rem;
  height: 0.546667rem;
}
.footer .item p {
  font-size: 0.293333rem;
  color: #666;
  margin-top: 0.213333rem;
}
